.body {
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  padding-left: calc(min(30%, 25em) + 12px); /* compensate for navigation + 12px line */
}
@media (max-width: 600px) {
  .body {
    padding-left: 22px; /* 10px whitespace + 12px line */
  }
}

.body > * {
  scroll-snap-align: start;
}

.navigationContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: min(30%, 25em);
  z-index: 5;
}

.lineWrapper {
  width: 12px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: min(30%, 25em); /* compensate for padding-left */
}
@media (max-width: 600px) {
  .lineWrapper {
    left: 10px; /* minimal whitespace when nav is hidden */
  }
}