.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.navigationContainer {
  max-width: 30%;
}
@media (max-width: 600px) {
  .navigationContainer {
    display: none;
  }
}

.scrollableContainer {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scrollableContainer > * {
  scroll-snap-align: start;
}