.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: -18px;
}
.metroStation {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 12px;
  border: solid 5px #3f3f3f;
  outline: 1px solid #7b7b7be0;
  z-index: 1;
  margin: 0;
}