.header {
  position: relative;
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  padding: 2em;
  display: flex;
  gap: 1.7em;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.myName {
  display: inline-block;
  width: min-content;
  max-width: 4em;
  font-size: 5em;
  padding: 0 .1em 0 0;
  line-height: 0.9em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .2em;
}
@media (max-width: 600px) {
  .myName {
    font-size: 4em;
  }
}
@media (max-height: 600px) {
  .myName {
    width: max-content;
    max-width: 100%;
    font-size: 2em;
  }
}

.profilePictureContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  right: 10%;
  z-index: -1;
  aspect-ratio: 3/4;
  max-width: 50%;
  max-height: 75vh;
  padding: 0 1px 1px 1px;
  border-radius: calc(3em + 1px);
  border-bottom: solid 2px #bababa;
}
@media (max-width: 600px) {
  .profilePictureContainer {
    right: 5%
  }
}
.profilePicture {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  border-radius: 3em;
  border: solid 4px #585757;
}

.role {
  display: block;
  font-size: 1.8em;
  line-height: 0.9em;
  height: 3em;
  max-width: 20em;
  color: rgb(43, 43, 43);
  font-family: var(--font-noto-sans-mono);
  align-items: center;
}
@media (max-width: 600px) {
  .role {
    font-size: 1.5em;
    height: 3em;
  }
}
.role > p{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .2em;
  padding: .2em .1em .2em 0;
}
.role > svg {
  font-size: 0.8em;
  transform: translateY(-0.3em);
}

.location{
  width: max-content;
  padding: 0 .2em 0 0;
  margin-top: -0.8em;
  font-size: 1.2em;
  color: gray;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .2em;
}

.location > svg {
  margin-right: 0.2em;
  color: #ff4b4b;
}

.introduction {
  font-size: 1.2em;
  line-height: 1.3em;
  overflow-x: hidden;
  overflow-y: auto;
}
.introduction > span {
  overflow: hidden;
  display: inline;
  padding-right: .2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}