# 'dev' or 'prod':
NEXT_PUBLIC_ENV=dev

# Keys for Cloudflare Turnstile CAPTCHA; obtain from Cloudflare dashboard > 'Protect & Connect' > 'Turnstile':
NEXT_PUBLIC_TURNSTILE_SITE_KEY=***** #change this
TURNSTILE_SECRET_KEY=***** #change this

# SMTP server configuration to send emails:
SMTP_HOST=smtp.example.com #change this
SMTP_PORT=465
SMTP_USER=mail@example.com #change this
SMTP_PASSWORD=***** #change this

# API key for Gemini API; used for Gemmini integration; obtain from Google AI Studio > 'API keys':
GEMMINI_API_KEY=***** #change this

# Redis server variables for Next.js. There is another .env file for the Redis server itself in /redis:
REDIS_HOST=portfolio-redis
REDIS_PORT=6379
REDIS_PASSWORD=***** #change this

# Email address (shown in the privacy policy, and used to send contact form submissions):
CONTACT_EMAIL=mail@example.com #change this

# Base URL for the application
NEXT_PUBLIC_BASE_URL=http://localhost:3001