.openChatButton {
  display: none !important;
}
@media (max-width: 600px) {
  .openChatButton {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 5;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.scrollableContainer {
  height: 100dvh;
  overflow-y: auto;
}
@media (max-width: 600px) {
  .scrollableContainer {
    position: fixed;
    bottom: 2em;
    left: 1vw;
    width: 98vw;
    height: auto;
    max-height: 90dvh;
    border: 3px solid #424242;
    border-radius: 3em;
    background-color: rgb(255, 255, 255);
  }
  .scrollableContainer.notVisibleOnMobile {
    display: none;
  }
}

.nav {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
  justify-content: end;
  padding: 2em;
}

.speechBubble {
  overflow: visible;
  width: 100%;
  position: relative;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #ffffff;
}

.speechBubble::after { /* speech bubble tail */
  content: "";
  position: absolute;
  left: 2.5em;
  bottom: -9px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
}

.chatOutput {
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  overflow: auto;
}

.robotIconContainer {
  width: 100%;
  padding: 0 0.5em;
}

.suggestions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7em;
  margin: 0.5em 0;
}
.suggestions p {
  width: 100%;
  margin-bottom: -0.2em;
}
.suggestions Button {
  flex-grow: 1;
  font-size: 0.9em;
}
.suggestions Button > * {
  padding: 0.2em;
}

.form {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.form Input {
  flex-grow: 1;
}
.form Button .icon {
  /* Transform icon to make it horizontal: */
  transform: rotate(45deg) scale(1.05) translate(-0.1em, 0.1em);
}