.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin: 0;
  padding: 0.6em 1.2em;
  border-radius: 2em;
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 2px 0 dimgray;

  text-decoration: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transition: box-shadow 0.05s ease-in-out;
}

.button:hover{
  transform: translateY(0.1em);
  box-shadow: 0 1px 0 dimgray;
}

