@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
  height: 100vh;
  font-size: 15px;
  scrollbar-color: #585757 #ffffff00;
}
@media (max-width: 500px), (max-height: 500px) {
  body {
    font-size: 13px;
  }
}

h1, h3, h4, h5, h6 {
  font-family: var(--font-sora);
  line-height: 1.1em;
}
h2{
  font-family: var(--font-montagu-slab);
  line-height: 1.1em;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}

a {
  cursor: pointer;
  color: #012060;
  text-decoration: underline;
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
ul li, ol li {
  padding-left: 0.1em;
}
ul li::before {
  content: "•";
  position: relative;
  margin-right: 0.6em;
}

/* FontAwesome icons: */
svg[data-icon] {
  width: 1.2em;
  height: 1.2em;
  font-size: 1em;
  display: inline-block;
  vertical-align: text-bottom;
}

/* Shimmer animation for loading placeholders */
.animateLoadingElement {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
  border-radius: 1em;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}