.carouselWrapper {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.cardsCarousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
.cardWrapper {
  background-color: blue;
  display: flex;
  scroll-snap-align: center;
  flex-direction: row;
  flex-shrink: 0;
  width: 70%;
}

.leftButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: gray;
}

.rightButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: gray;
}

