.input {
  margin: 0;
  padding: 0.6em 1.2em;
  border-radius: 1.6em;
  height: auto;
  width: 100%;
  border: 3px solid black;
  transition: transform 0.1s ease-in-out;
  text-decoration: none;
}

.input:focus{
  transform: translateY(0.1em);
  padding: calc(0.6em - 1px) calc(1.2em - 1px);
  border-width: 4px;
}